{% extends 'base.html' %}




{% block 'titulo' %}Login{% endblock %}


{% block 'content' %}

<div class="login-container">
    <div class="card">
        <div class="svg-container">
            <img src="/static/images/undraw_secure_login_pdn4.svg" alt="Imagem de Login">
        </div>
        <div class="login-form">
            {% if status_message %}
            <div class="error-message">{{ status_message }}</div>
            {% endif %}
            <h2>Login</h2>
            <form method="post" action="{% url 'valida_login' %}">
                {% csrf_token %}
                <div class="input-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="input-group">
                    <label for="password">Senha:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit">Entrar</button>

            </form>
            <p class="signup-link">Não possui uma conta? <a href="{% url 'register' %}">Cadastre-se</a></p>
        </div>
    </div>
</div>

{% endblock %}