{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuário</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

</head>
<body>
    <header>
        <div class="container">
            <h1>Perfil de Usuário</h1>
            <nav>
                <ul>
                    <li><a href="{% url 'edit_profile' %}">Editar Perfil</a></li>
                    <li><a href="{% url 'logout' %}">Sair</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="main-content">
        <div class="container">
            <div class="profile-card">
                <div class="profile-header">
                    <div class="profile-picture">
                        <img src= "{{ github }}.png" alt="Foto de Perfil">
                    </div>
                    <div class="profile-info">
                        <h2>{{ username }}</h2>
                        <p>Email: {{ email }}</p>
                        <p>Localização: {{ location }}</p>
                        <p>Github: <a href="{{ github }}">{{ github }}</a></p>
                        <p>LinkedIn: <a href="{{ linkedin }}">{{ linkedin }}</a></p>
                    </div>
                </div>
                <div class="profile-introduction">
                    <h3>Sobre Mim</h3>
                    <p>{{ about_me }}</p>
                </div>
                <div class="profile-posts">
                    <h3>Publicações Recentes</h3>
                    <div class="post">
                        <p>Publicação 1: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div class="post">
                        <p>Publicação 2: Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <p>Desenvolvido por Guilherme Tomelin</p>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/guilherme-tomelin-dos-santos-1b7a73199/" target="_blank"><img src="https://img.icons8.com/color/48/000000/linkedin.png" alt="LinkedIn"></a>
                <a href="https://github.com/Guilherme-Tomelin" target="_blank"><img src="https://img.icons8.com/ios-filled/50/000000/github.png" alt="GitHub"></a>
            </div>
        </div>
    </footer>
</body>
</html>